<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.ividyon.WitchyBND</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSEnvironment</key>
	<dict>
		<key>MACOS_RELAUNCH_CLI</key>
		<string>1</string>
	</dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>WitchyBND</string>
			</dict>
			<key>NSMessage</key>
			<string>witchyShortcut</string>
			<key>NSPortName</key>
			<string>WitchyBND</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
				<key>NSServiceCategory</key>
				<string>Files and Folders</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.directory</string>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>NSTimeout</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>WitchyBND...</string>
			</dict>
			<key>NSMessage</key>
			<string>witchyMenu</string>
			<key>NSPortName</key>
			<string>WitchyBND</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
				<key>NSServiceCategory</key>
				<string>Files and Folders</string>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.directory</string>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>NSTimeout</key>
			<string>5000</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SoulsFormats File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.soulsfile</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DCX Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.dcx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dcx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scaleform GFx File</string>
			<key>UTTypeIdentifier</key>
			<string>com.autodesk.gfx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gfx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Havok Packfile</string>
			<key>UTTypeIdentifier</key>
			<string>com.havok.hkx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hkx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Havok Lua Script</string>
			<key>UTTypeIdentifier</key>
			<string>com.havok.hks</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hks</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flexible Vertex File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.flver</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flver</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Binder Archive Header</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.bhd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bhd</string>
					<string>bhd5</string>
					<string>tpfbhd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Binder Archive Data</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.bdt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bdt</string>
					<string>tpfbdt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Binder Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.bnd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bnd</string>
					<string>anibnd</string>
					<string>behbnd</string>
					<string>chrbnd</string>
					<string>dvdbnd</string>
					<string>ffxbnd</string>
					<string>fgbnd</string>
					<string>luabnd</string>
					<string>matbinbnd</string>
					<string>mapbnd</string>
					<string>msgbnd</string>
					<string>mtdbnd</string>
					<string>objbnd</string>
					<string>parambnd</string>
					<string>paramdefbnd</string>
					<string>partsbnd</string>
					<string>remobnd</string>
					<string>shaderbnd</string>
					<string>texbnd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Visual Effects File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.sfx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ffx</string>
					<string>fxr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Localized Strings File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.fmg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fmg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Graphics Parameters File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.gparam</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gparam</string>
					<string>fltparam</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lua Globals List</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.luagnl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>luagnl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lua Goals List</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.luainfo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>luainfo</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Texture Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.tpf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tpf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zero3 Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.zero3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>000</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Material Configuration File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.matbin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>matbin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Material Definition File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.mtd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mtd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Configuration Parameters File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.param</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>param</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MovieSequencer Binary File</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.mqb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mqb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Entry File List</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.entryfilelist</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>entryfilelist</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Time Act Events</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.tae</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tae</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.WitchyBND.soulsfile</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Auto Invade Points</string>
			<key>UTTypeIdentifier</key>
			<string>com.WitchyBND.aip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aip</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
